$orange: #ef3b00;
$dark-grey: #161513;
$light-grey: #f7f7f7;
$nav-grey: #b0a5a3;
$body-grey: #484340;

$mobile: '(max-width: 767px)';
$tablet: '(min-width: 768px) and (max-width: 992px)';
$desktop: '(min-width: 993px) and (max-width: 1030px)';
