ul,
ol {
  margin: 0;
  padding: 0;
}
a,
a:hover {
  text-decoration: none;
}
h2 {
  font-weight: normal;
  font-size: 28px;
  letter-spacing: 0.5px;
}
h3 {
  font-weight: normal;
  font-size: 24px;
  letter-spacing: 0.5px;
}
h4 {
  font-size: 21px;
  font-weight: normal;
}
h5 {
  font-size: 18px;
  font-weight: normal;
}
h6 {
  font-size: 14px;
  font-weight: normal;
}
p {
  font-size: 16px;
  line-height: 21px;
  margin: 0 0 20px 0;
}
.content-wrap {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  display: flex;
}
