.testimonials {
  background-color: $light-grey;
  padding: 80px 0;
  h2 {
    width: 100%;
    text-align: center;
    margin: 0 0 40px 0;
  }
  &__list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    @media #{$mobile} {
      display: block;
    }
    li {
      position: relative;
      list-style-type: none;
      flex: 1 0 30%;
      flex-basis: 0;
      margin: 0 1.5%;
      @media #{$mobile} {
        flex: none;
        margin-bottom: 30px;
      }
      p {
        position: relative;
        background-color: white;
        -webkit-box-shadow: 0 2px 4px 0 rgba(black, 0.3);
        -moz-box-shadow: 0 2px 4px 0 rgba(black, 0.3);
        box-shadow: 0 2px 4px 0 rgba(black, 0.3);
        border-radius: 20px;
        padding: 40px;

        &:before {
          content: '';
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 20px 15px 0 15px;
          border-color: #000 transparent transparent transparent;
          position: absolute;
          bottom: -22px;
          left: 50px;
          z-index: 0;
          opacity: 0.15;
        }
        &:after {
          content: '';
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 20px 15px 0 15px;
          border-color: #fff transparent transparent transparent;
          position: absolute;
          bottom: -18px;
          left: 50px;
        }
      }
      .client {
        display: flex;
        align-items: center;
        margin-top: 30px;
        .name {
          margin-left: 10px;
          h5 {
            margin: 0 0 5px 0;
            text-transform: uppercase;
          }
          h6 {
            margin: 0;
            color: $nav-grey;
          }
        }
      }
    }
  }
}
