@import 'config/**/*.scss';
@import 'base.scss';
@import 'button.scss';
@import 'navigation.scss';
@import 'banner-detail.scss';
@import 'header.scss';
@import 'map.scss';
@import 'testimonial.scss';
@import 'form.scss';
@import 'footer.scss';

html {
  height: 100%;
  font-size: 16px;
}

body {
  font-size: 100%;
  font-family: 'Roboto', sans-serif;
  color: $body-grey;
  line-height: 1;
}
