<div class="banner-detail">
    <h1 class="banner-detail__title">Lorem ipsum dolor sit amet<br> consetur adiping elit</h1>
    <ul>
        <li><span><img src="images/icon-staffing.png" alt=""></span><h4>Service Name</h4></li>
        <li><span><img src="images/icon-people.png" alt=""></span><h4>Service Name</h4></li>
        <li><span><img src="images/icon-folder.png" alt=""></span><h4>Service Name</h4></li>
    </ul>
</div>
