<footer>
    <div class="content-wrap">
        <p class="copyright">&copy; 2019 Company. All Right Reserved.</p>
        <ul class="list-social">
            <li>Follow us on:</li>
            <li><a href="#"><img src="images/icon-fb.png" alt=""></a></li>
            <li><a href="#"><img src="images/icon-twitter.png" alt=""></a></li>
            <li><a href="#"><img src="images/icon-in.png" alt=""></a></li>
        </ul>
    </div>
</footer>
