<section class="map">
    <div class="content-wrap">
        <div class="map__details">
            <h3>Nunc malesuada ipsum et neque laoreet mattis. Donec lobortis condimentum lacus, in faucibus nunc tristique a.</h3>
            <p>Donec id tellus vel enim sodales ullamcorper vitae ac lacus. Quisque ut nisi at mauris pellentesque ornare. Nullam finibus rutrum est eget hendrerit. Pellentesque tempor justo sed luctus aliquam. Aliquam maximus est est, venenatis euismod nisi volutpat vitae.</p>
        </div>
        <div class="map__image">
            <img src="images/map.png" alt="">
        </div>
    </div>
</section>
