<nav class="navigation">
    <div class="navigation__wrap">
        <a href="javascript:void(0);" class="navigation__toggle"><span></span></a>
        <a href="#" class="navigation__brand"><img src="images/logo.png" class="Company Logo"></a>
        <div class="navigation--collapse">
            <ul class="navigation__menu">
                <li><a href="#">About</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Solutions</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Get In Touch</a></li>
            </ul>
        </div>
        <a href="#" class="navigation__touch"><img src="images/icon-inbox.png" alt=""></a>
    </div>
</nav>
