<section class="testimonials">
    <h2>Testimonials</h2>
    <div class="content-wrap">
        <ul class="testimonials__list">
            <li>
                <p><img src="images/quote.png" alt=""> In aliquam erat ut ligula mollis accumsan. Proin dapibus egestas auctor. Aliquam vehicula et ligula vitae finibus. Nulla rutrum, leo quis lacinia facilisis, erat mauris auctor dolor.</p>
                <div class="client">
                    <div class="avatar"><img src="images/avatar.png" alt=""></div>
                    <div class="name">
                        <h5>Client Name</h5>
                        <h6>Position, ORG</h6>
                    </div>
                </div>
            </li>
            <li>
                <p><img src="images/quote.png" alt=""> In aliquam erat ut ligula mollis accumsan. Proin dapibus egestas auctor. Aliquam vehicula et ligula vitae finibus. Nulla rutrum, leo quis lacinia facilisis, erat mauris auctor dolor, congue efficitur tortor elit vel augue. Morbi massa dolor, congue in ultricies ac, dapibus eleifend ipsum.</p>
                <div class="client">
                    <div class="avatar"><img src="images/avatar.png" alt=""></div>
                    <div class="name">
                        <h5>Client Name</h5>
                        <h6>Position, ORG</h6>
                    </div>
                </div>
            </li>
            <li>
                <p><img src="images/quote.png" alt=""> In aliquam erat ut ligula mollis accumsan. Proin dapibus egestas auctor. Aliquam vehicula et ligula vitae finibus. Nulla rutrum, leo quis lacinia facilisis, erat mauris auctor dolor, congue efficitur tortor elit vel augue. Morbi massa dolor.</p>
                <div class="client">
                    <div class="avatar"><img src="images/avatar.png" alt=""></div>
                    <div class="name">
                        <h5>Client Name</h5>
                        <h6>Position, ORG</h6>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>
